body {
  width: 280px;
}
nav {
  display: flex;
  justify-content: space-between;
}

nav img {
  cursor: pointer;
}

nav img:hover {
  opacity: 0.7;
}
button {
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px lightgrey;
  }

  button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

  .invisible {
    display: none;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    content: '';
  }

  .loader {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    z-index: 2;
  }

  .loader svg {
    animation: spin 1s infinite;
    border-radius: 30px;
    background-color: black;
  }

  @keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .history-card {
    margin: 6pt;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
    padding: 6pt;
  }

  .history-card p, .history-card h2 {
    margin: 3pt 0;
  }

  .history-card h2 {
    justify-content: space-between;
    display: flex;
  }
  .history-card span:last-child {
    font-size: 12px;
    font-weight: normal;
  }

  .popup {
    display: block;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    padding: 10pt;
  }

  .popup input {
    display: block;
    width: 90%;
  }