<h1>Hide a BanEgg for others to find</h1>
<div style="display: flex; flex-direction: column;">
    <label for="address">Address</label>
    <input id="address" name="address" placeholder="ban_1banegg123..."/><br/>
    <label for="url">URL</label>
    <input id="url" name="url" placeholder="google.com"/><br/>
    <label for="hash">Hash</label>
    <input id="hash" name="hash" placeholder="hash"/><br/>
    <label for="prizepool">Bounty</label>
    <div>
        <input id="prizepool" name="prizepool" placeholder="1"/>
        <span>BAN</span>
    </div><br/>
    <p id="hide-message-strip" class="invisible"></p>
    <div style="display: flex;
    justify-content: space-between;">
        <button id="hide">Hide</button>
        <button id="cancel-payment">Cancel</button>
    </div>
</div>
<div id="qrCode" class="invisible">
    <p>Scan QR Code with Kalium to send BAN for your BanEgg and wait till processed</p>
    <p>Payment timeout <span class="mins"></span>:<span class="secs"></span></p>
</div>
<div id="payment-status" class="invisible"></div>