<h1>History</h1>
<nav>
    <button>Found</button>
    <button>Hidden</button>
</nav>
<table id="history-table">
    <thead>
        <tr><td>Date</td><td>Url</td><td>Bounty</td><td>Claimed by</td></tr>
    </thead>
    <tbody>
        <!-- Dummy -->
        <tr><td>14.08.22</td><td>google.com</td><td>1</td><td style="width:20px">ban_1uo1cano1bot1a1pha1616161616161616161616161616161616p3s5tifp</td></tr>
        <tr><td>21.08.22</td><td>banano.cc</td><td>2.54</td><td>ban_3jo4o7j3z398xy4ywmjnaoqwfo1otnyrr4ubmd3pyshggf34hhcreuc6zkcw</td></tr>
    </tbody>
</table>